<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Positive Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Java/Test DemoAutomationTesting">
        <classes>
            <class name="TestNGTests.positive.TestIndexPage"/>
            <class name="TestNGTests.positive.TestRegisterPage"/>
            <class name="TestNGTests.positive.TestAlertPage"/>
            <class name="TestNGTests.positive.TestWindowPage"/>
            <class name="TestNGTests.positive.TestFramePage"/>
            <class name="TestNGTests.positive.TestAccordionPage"/>
            <class name="TestNGTests.positive.TestAutoCompletePage"/>
        </classes>
    </test>
</suite>